.panel2 {
    width: 1000px;
    height: 750px;
    margin: 20px auto;
    border: 2px solid #ccc;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* background-image: url("bhp.png"); */
    background-size: cover;
  }
  
  .header2 {
    background-color: #dd5900;
    color: white;
    padding: 10px 20px; /* Añadido un padding lateral */
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    border-radius: 18px 18px 0 0;
    
  }
  
  .header2 .icon-lock2 {
    height: 40px;
    width: 40px;
    background-image: url('/User.jpg') !important;
    background-size: cover;
    background-position: center;
    margin-right: 10px;

  }
  
  .header2 span {
    font-size: 25px;
    font-weight: bolder;
  }

  .content2 {
    height: 550px;
    padding: 20px;
    display: flex;
    flex-direction: column; /* Alinear en columna */
    justify-content: flex-start; /* Alinear al inicio verticalmente */
    align-items: flex-start; /* Alinear al inicio horizontalmente */

  }

  /* login.css */
.login-container2 {
    width: 900px;
    height: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.75); /* Fondo completamente transparente */

  }
  
  .login-container2 h2 {
    text-align: left;
    margin-bottom: 20px;
    color: #dd5900; /* Color del título */
  }
  
  .input-group2 {
    margin-bottom: 25px;
  }
  
  .input-group2 label {
    display: block;
    margin-bottom: 10px;
  }
  
  .input-group2 input {
    width: 50%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    
  }
  
  /* Nuevo estilo para centrar el botón */
  .button-container2 {
    display: flex;
    justify-content: left;
  }
  
  button {
    width: 50%;
    padding: 10px;
    margin-top: 10px;
    background-color: #dd5900; /* Color del botón */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    max-width: 150px;
    border: 1px solid #000000;
  }
  
  button:hover {
    background-color: #993300; /* Color del botón al pasar el mouse */
  }
/* Media Queries */
@media (max-width: 768px) {
  .panel2 {
      width: 95%;
      height: auto;
      border-radius: 0;
  }

  .login-container2 {
      width: 95%;
      height: auto;
      border-radius: 0;
  }

  .input-group2 input,
  button {
      width: 90%;
      font-size: 1.2em;
  }
}

@media (max-width: 480px) {
  .header2 span {
      font-size: 2em;
  }

  .panel2 {
      width: 100%;
      height: auto;
      border-radius: 0;
  }

  .input-group2 input,
  button {
      width: 95%;
      font-size: 1.2em;
  }
}