.panel {
    width: 1000px;
    height: 700px;
    margin: 20px auto;
    border: 2px solid #ccc;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .header {
    background-color: #e65c00;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    border-radius: 18px 18px 0 0;
    
  }
  
  .header .icon-lock {
    height: 40px;
    width: 40px;
    background-image: url('/User.jpg') !important;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
  }
  
  .header span {
    font-size: 2.5em;
    font-weight: bolder;
  }

  .content {
    padding: 120px;
    height: 570px;
  }


  /* login.css */
.login-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ff6600; /* Color del título */
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Nuevo estilo para centrar el botón */
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  button {
    width: 50%;
    padding: 10px;
    margin-top: 10px;
    background-color: #ff6600; /* Color del botón */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #e65c00; /* Color del botón al pasar el mouse */
  }