
.panel {
  width: 1000px;
  height: 800px;
  margin: 20px auto;
  border: 2px solid #ccc;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Para asegurar que los bordes redondeados funcionen bien */
  background-image: url("BHP.png");
  background-size: cover;
  }
  
  .header {
  background-color: #dd5900;
  color: white;
  padding: 10px 20px; /* Añadido un padding lateral */
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  border-radius: 18px 18px 0 0;
  }
  
  .header .icon-lock {
  height: 40px;
  width: 40px;
  background-image: url('/cargar.jpg') !important;
  background-size: cover;
  background-position: center;
  margin-right: 10px;
  }
  
  .header span {
  font-size: 25px;
  font-weight: bolder;
  }
  
  .content {
  height: 700px !important;
  padding: 20px !important;

  }
  
  .content h2 {
  font-size: 1.3em;
  margin-bottom: 25px;
  }
  
  .Caja {
  width: 98% !important;
  height: 510px !important;
  margin: 20px 10px !important;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.75); /* Fondo semitransparente */
  }
  
  .form-group {
    font-size: 1.2em;
    margin-bottom: 30px;
    
  }
  
  .form-group label {
    font-size: .9em;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
  }
  
  .file-upload {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  text-align: left;
  transition: background-color 0.3s ease;
  border: 2px solid #ccc;
  }
  
  .file-upload:hover {
  background-color: #f0f0f0;
  }
  
  .file-upload-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97%;
  font-size: .6em;
  background-color: #c7c7c7;
  padding: 10px; /* Añadido padding */
  }

  
  .file-button {
  padding: 10px 15px;
  width: 200px;
  background-color: #dd5900;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 1px solid #3b3b3b;
  }
  
  .file-button .icon-attach {
  margin-right: 5px;
  }
  
  .file-button:hover {
  background-color: #993300;
  }
  
  .download-link {
  color: #007bff;
  text-decoration: none;
  display: block;
  margin-top: 10px;
  }
  
  .submit-button {
  background-color: #26C455;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 25px;
  transition: background-color 0.3s ease;
  width: 100%; /* Asegura que ocupe todo el ancho del contenedor padre /
  max-width: 150px; / Limita el ancho máximo */
  border: 1px solid #000000;
  }
  
  .submit-button:hover {
  background-color: #0c9e38;
  }
  
  /* Media queries para asegurar responsividad */
  @media (max-width: 1200px) {
    .panel {
    width: 100%;
    height: auto;
    }
    .Caja {
    width: 90%;
    }
    .header span {
    font-size: 1.8em;
    }
    .form-group {
    font-size: 1.1em;
    }
  }
  
  @media (max-width: 768px) {
    .panel {
    width: 100%;
    height: auto;
    }
    .Caja {
    width: 90%;
    }
    .header span {
    font-size: 1.5em;
    }
    .form-group {
    font-size: 1em;
    }
    .file-upload-content,
    .file-button,
    .submit-button {
    width: 100%;
    box-sizing: border-box;
    }
    .file-upload-content {
    flex-direction: column;
    padding: 10px;
    }
    .file-button {
    margin-top: 10px;
    }
    .download-link {
    margin-top: 20px;
    }
    .submit-button {
    margin-top: 20px;
    }
  }
  
  @media (max-width: 480px) {
    .header span {
    font-size: 1.2em;
    }
    .panel {
    width: 95%;
    border: 2px solid #000000;
    }
    .form-group {
    font-size: 0.9em;
    }
    .file-upload-content,
    .file-button,
    .submit-button {
    width: 95%;
    box-sizing: border-box;
    }
    .file-upload-content {
    flex-direction: column;
    padding: 5px;
    }
    .file-button {
    margin-top: 5px;
    }
    .download-link {
    margin-top: 15px;
    font-size: 0.9em;
    }
    .submit-button {
    margin-top: 15px;
    }
  }
  
  